.entreEmContato h1{
    position: absolute;
    width: 350px;
    height: 42px;
    left: 165px;
    top: 239px;
    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
}

.entreEmContato p{

    position: absolute;
    width: 580px;
    height: 180px;
    left: 640px;
    top: 239px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px; 
    color: #33323D;
}

footer{
    position:absolute;
    top:165%;
}

.linha-horizontal1 {
    position:absolute;
    width: 1250px;
    border: 1px solid #dbdada;
    margin-top: 45px;
}
.linha-horizontal2 {
    position:absolute;
    width: 1250px;
    border: 1px solid #dbdada;
    margin-top:470px;
}

.redesSociais {
    position:absolute;
    left: 45%;
    top:72%;
}    

.redesSociais img{
    padding: 8px;
}

.contato h1{
    position:absolute;
    height: 42px;
    right: 68.47%;
    top: calc(50% - 42px/2 - 191px);
    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    top:630px;
    right: 79%;
}

.contato button{
    position: absolute;
    left: 46.7%;
    top:950px;
    background: #203A4C;
    color:#ffff;
    Width: 200px;
    Height:48px;

}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 630px;
    left: 45%;
}

.nome input, .email input {
    margin: 10px;
    Width:635px;
    Height:48px;
    Top:38px;
    background: #cacaca;
    margin: 20px;
    border:1px solid #cacaca;


}

.mensagem input{
    Width: 635px;
    Height: 96px;
    Top: 38px;
    margin: 10px;
    background: #cacaca;
    margin: 20px;
    border:1px solid #cacaca;
}

.contato span{

    font-family: Public Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 2px;
    position: absolute;
    height: 30px;
    left: 3%;
    right: 2%;
    
}

